.hide {
    display: none;
}

.input-group-addon .fa-6{
	font-size: 1.5em;
}

.input-group-addon .ng{
	color: red;
}

.input-group-addon .ok{
	color: blue;
}

/*! bootstrap.ccsを上書き*/
.btn-secondary {
  color: #292b2c;
  background-color: #eee;
  border-color: #ccc;
  font-weight:bold;
}