<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="jp.co.drm.ccp.web.integration.mybatis.dao.LoginDao">
	<!--
	<resultMap id="BaseResultMap"
		type="jp.co.drm.ccp.web.integration.mybatis.dto.LoginDto">
		<id column="USER_ID" jdbcType="VARCHAR" property="userId" />
		<result column="USER_NM" jdbcType="VARCHAR" property="userNm" />
		<association property="mstRole" resultMap="mstRoleResult" />
		<collection property="mstModules"
			ofType="jp.co.drm.ccp.base.integration.mybatis.entity.MstRole"
			resultMap="mstRoleResult" />
	</resultMap>

	<resultMap id="mstRoleResult"
		type="jp.co.drm.ccp.base.integration.mybatis.entity.MstRole">
		<id column="ROLE_CD" jdbcType="VARCHAR" property="roleCd" />
		<result column="ROLE_NM" jdbcType="VARCHAR" property="roleNm" />
	</resultMap>

	<resultMap id="mstModuleResult"
		type="jp.co.drm.ccp.base.integration.mybatis.entity.MstModule">
		<id column="ROLE_CD" jdbcType="VARCHAR" property="roleCd" />
		<id column="MODULE_CD" jdbcType="VARCHAR" property="moduleCd" />
		<result column="MODULE_NM" jdbcType="VARCHAR" property="moduleNm" />
	</resultMap>
-->

	<resultMap id="BaseResultMap"
		type="jp.co.drm.ccp.web.integration.mybatis.dto.LoginDto">
		<id column="USER_ID" jdbcType="VARCHAR" property="userId" />
		<result column="USER_NM" jdbcType="VARCHAR" property="userNm" />
		<collection property="groupInfoDtos"
			ofType="jp.co.drm.ccp.web.integration.mybatis.dto.GroupInfoDto"
			resultMap="groupInfoDtoResult" />
	</resultMap>

	<resultMap id="groupInfoDtoResult"
		type="jp.co.drm.ccp.web.integration.mybatis.dto.GroupInfoDto">
		<id column="GROUP_ID" jdbcType="VARCHAR" property="groupId" />
		<id column="MODULE_CD" jdbcType="VARCHAR" property="moduleCd" />
		<result column="GROUP_NM" jdbcType="VARCHAR" property="groupNm" />
		<result column="MODULE_NM" jdbcType="VARCHAR" property="moduleNm" />
	</resultMap>


	<select id="selectUserInfoById" parameterType="java.lang.String"
		resultMap="BaseResultMap">
select
  U.USER_ID
  , U.USER_NM
  , G.GROUP_ID
  , G.GROUP_NM
  , M.MODULE_CD
  , M.MODULE_NM
from
  MST_USER U
  left join MST_GROUP_USER GU
    on U.USER_ID = GU.USER_ID
  left join MST_GROUP G
    ON G.GROUP_ID = GU.GROUP_ID
  left join MST_GROUP_ROLE GR
  	ON G.GROUP_ID = GR.GROUP_ID
  left join MST_MODULE M
    ON M.MODULE_CD = GR.MODULE_CD
where
		U.USER_ID = #{userid,jdbcType=VARCHAR}
	</select>



</mapper>